body {
  background: radial-gradient(
    circle at 97.28%,
    #ff69c4 0,
    #ff5dce 10%,
    #ff51d8 20%,
    #f647e1 30%,
    #d940ea 40%,
    #b53cf2 50%,
    #853dfa 60%,
    #3442ff 70%,
    #0048ff 80%,
    #004dff 90%,
    #0051ff 100%
  );
}

.page-title {
  font-size: 50px;
  text-align: center;
}

img.image {
  vertical-align: middle;
  border-radius: 30px;
  max-height: 80px;
}

div.container {
  background: white;
  border-radius: 30px;
  margin-left: 100px;
  margin-right: 100px;
  text-align: center;
  font-size: 25px;
}

.page-subtitle {
  text-align: center;
  font-size: 30px;
}

.indicador {
  text-align: center;
  font-size: 25px;
}

input {
  font-size: 25px;
  text-align: center;
  border-radius: 5px;
  border: 2px solid #333;
  width: 200px;
}

button {
  font-size: 25px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}